*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "gilroy";
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100vh;
    position: relative;
}
#back{
    width: 100%;
    height: 100vh;
}
#back img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#top{
    pointer-events: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}
#worar{
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    max-width: 1920px;
    position: relative;
    /* border: 1px solid red; */
}
#nav{
    pointer-events: all;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px 0;
}
#nav img{
    height: 60px;
}
#nleft ,#nright {
    display: flex;
    align-items: center;
    gap: 60px;
}
#nav  a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    /* font-family: "gilroy"; */
}
#hero{
    position: absolute;
    margin-top: 50px;
    top: 50%;
    left: 0;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* height: 100px; */
}
#hleft{
    min-width: 50%;
    /* background-color: aqua; */
}
#hleft .elem{
    height: 9vw;
    overflow: hidden;
    position: relative;
}
#hleft .elem h1:nth-child(1){
         top: 0;
}

#hleft .elem h1{
    position: absolute;
    top: 100%;
    left: 0;
     line-height: .9;
     font-family: "kajiro";
     color: #fff;
     font-weight: 100;
     font-size: 11vw;
}
#hleft button{
    pointer-events: all;
    padding: .8vw 2vw;
    font-size: 3vw;
    margin-top: 1vw;
    font-family: "kajiro";
}

#hright{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    width: 20%;
    color: #fff;
    /* background-color: rgb(58, 161, 53); */
}
#hright p{
    margin-bottom: 50px;
    font-size: 14px;
    font-weight: 300;
    text-align: right;
}
#hright #imgdiv{
    width: 100%;
    height: 170px;
    margin-bottom: 20px;
    background-color: #fff;
    background-image: url(https://images.unsplash.com/photo-1590503002569-c09d4ddfd698?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Z3JhcGhpYyUyMGFydHxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=400&q=60);
    background-size: cover;
    background-position: center;
}

#hright p:nth-child(3){
    margin-bottom: 100px;
}